aws_cdk.aws_apigateway==1.75.0
aws-cdk.aws-dynamodb==1.75.0
aws-cdk.aws-events==1.75.0
aws-cdk.aws-events-targets==1.75.0
aws-cdk.aws-iam==1.75.0
aws-cdk.aws-lambda==1.75.0
aws-cdk.aws-redshift==1.75.0
aws-cdk.aws-rds==1.75.0
aws-cdk.core==1.75.0
aws-cdk.region-info==1.75.0
aws-cdk.aws-secretsmanager==1.75.0
constructs==3.2.0
jsii==1.15.0
aws_solutions_constructs.aws_apigateway_dynamodb==1.75.0
aws_solutions_constructs.aws_apigateway_lambda==1.75.0