aws_cdk.aws_apigateway==1.89.0
aws-cdk.aws-cloudfront==1.89.0
aws-cdk.aws-cloudfront-origins==1.89.0
aws-cdk.aws-dynamodb==1.89.0
aws-cdk.aws-events==1.89.0
aws-cdk.aws-events-targets==1.89.0
aws-cdk.aws-iam==1.89.0
aws-cdk.aws-lambda==1.89.0
aws-cdk.aws-lambda-event-sources==1.89.0
aws-cdk.aws-redshift==1.89.0
aws-cdk.aws-rds==1.89.0
aws-cdk.aws-s3==1.89.0
aws-cdk.aws-secretsmanager==1.89.0
aws-cdk.aws-sqs==1.89.0
aws-cdk.core==1.89.0
aws-cdk.region-info==1.89.0
constructs==3.2.0
jsii==1.22.0
aws_solutions_constructs.aws_apigateway_dynamodb==1.89.0
aws_solutions_constructs.aws_apigateway_lambda==1.89.0
aws_solutions_constructs.aws_apigateway_sqs==1.89.0